html {
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    direction: rtl;
    background-color: rgb(245, 245, 245);

}

.rightHandSide {
    width: 20%;
    height: 100vh;
}

#datetime {
    font-family: Shabnam;
}

.leftHandSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}

.topLeft {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    direction: rtl;
    flex-direction: row-reverse;
}

ul {
    list-style-type: none;
    font-size: 12px;
    padding: 0px;
}

li {
    margin: 9px 0;
}

.messages {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: black -1px 2px 5px;
    border-radius: 7px;
    width: 22%;
    height: 110px;
    transition: width 1s;

}

.picMessages {
    background-image: linear-gradient(to top, rgb(96, 125, 255), rgb(35, 197, 246));
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.textMessages {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}

.encyclopedias {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: black -1px 2px 5px;
    border-radius: 7px;
    width: 22%;
    height: 110px;
    transition: width 1s;


}

.textEncyclopedias {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: white;

}

.picEncyclopedias {
    background-color: rgb(237, 69, 86);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.tickets {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: black -1px 2px 5px;
    border-radius: 7px;
    width: 22%;
    height: 110px;
    transition: width 1s;
}

.tickets:hover,
.messages:hover,
.users:hover,
.encyclopedias:hover {
    width: 25%;
    cursor: pointer;
}

.textTickets {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}

.picTickets {
    background-image: linear-gradient(to top, rgb(230, 140, 6), rgb(254, 197, 58));

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.users {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: black -1px 2px 5px;
    border-radius: 7px;
    width: 22%;
    height: 110px;
    transition: width 1s;

}

.textUsers {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}

.picUsers {
    background-color: rgb(97, 112, 227);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

[class*="pic"] {
    align-items: center;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

[class*="lowText"] {
    display: inline;
}

[class*="text"] {
    font-family: shabnam;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.midLeft {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 35%;
}

.summary {
    display: flex;
    background-color: white;
    width: 30%;
    box-shadow: black -1px 2px 5px;
    border-radius: 7px;
    flex-direction: column;
    padding: 10px;

}

.sumTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.sumText {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    border-bottom: solid teal 2px;
}

.dropbtn {
    font-family: shabnam;
    font-weight: bold;
    padding: 8px 15px;
    word-spacing: 2px;
    font-size: 10px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom right, rgb(141, 95, 229), rgb(140, 146, 233));

}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: rgb(97, 112, 227);
}

.edit {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black -1px 2px 5px;
    background-image: linear-gradient(to bottom right, rgb(141, 95, 229), rgb(140, 146, 233));
    width: 60%;
    flex-direction: row-reverse;
}

.sumLow {
    display: flex;
    width: 100%;
    height: 100%;
}

.lowLeft {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 35%;
}

.messageBox {
    display: flex;
    background-color: white;
    width: 30%;
    box-shadow: black -1px 2px 5px;
    border-radius: 7px;
    flex-direction: column;
    padding: 10px;
    direction: rtl;
}

.messageBoxText {
    border-bottom: teal solid 2px;
    padding-bottom: 10px;
    width: 50%;
    font-family: shabnam;
}

.tabCon {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background-color: white;
    box-shadow: black -1px 2px 5px;
    border-radius: 10px;
    width: 60%;
}

.tab {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: shabnam;
    opacity: 0.5;

}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    border-bottom: solid 2px rgb(97, 112, 227);
    opacity: 1;

}

.tabcontent {
    display: block;
    direction: rtl;
    padding: 6px 12px;
    border-top: none;
}

.rightHandSide {
    display: flex;
}

@font-face {
    font-family: Shabnam;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff2') format('woff2'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}